langchain
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
streamlit
langchain_classic
langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_groq
beautifulsoup4
langchain_classic
streamlit
langchain-ollama
fastapi
uvicorn
langserve
ddgs
